.btn {
    margin-right: 10px;
}

.balance {
    h1 {
        display: inline;
    }
    >.btn {
        margin-left: 20px;
        margin-top: -15px;
    }
}
.shares {
    border-top: 1px solid grey;
    margin-top: 20px;
}